.container {
    display: flex;
}

.products-container {
    width: 100%;
    min-height: 50vh;
    background-color: rgb(66, 109, 230);
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}


.product-card {
    background-color: rgb(236, 236, 236);
    margin-right: 32px;
    margin-top: 32px;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 300px;
    padding: 20px 10px;
}


.product-img {
    width: 150px;
    height:150px;

}

.products-container:last-child {
    margin-right: 0;
}

.cart {
    border-radius: 4px;
    position: absolute;
    right: 0;
    min-height: 720px;
    width: 15%;
    padding: 30px 20px;
    background-color: rgb(205, 211, 218);
    overflow-y: scroll;
}


.cart-item {
    border-bottom: 1px solid rgb(36, 36, 36);
}

.remove-btn {
    background: none;
    border: none;
    font-size: 24px;
}
.remove-btn:hover {
    color: red;
}